/* moved */

.Player{
    display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      position: relative;
      height: 360px;
      width: 360px;
  }
  
  #Player-canvas{
    position: absolute;
    width: 600px;
    height: 600px;
    display: flex;
    align-self: center;
  }
  
  .Player .controls{
    display: grid;
    grid-template: "prev play next";
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  
  .Player .controls .pause-play-song{
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: rgba(97,218,251,0.8) 3px solid;
      border-radius: 50%;
      padding: 0.5rem;
      width: 104px;
      height: 104px;
  }
  
  .Player .song-footer{
    color: rgba(97,218,251,0.8);
    position: absolute;
    z-index: 2;
    bottom: 2rem;
    width: 100%;
  }